services:
  server:
    environment:
      - ORTGRAPH_USERNAME=${ORTGRAPH_USERNAME}
      - ORTGRAPH_PASSWORD=${ORTGRAPH_PASSWORD}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASS=${MAIL_PASS}
      - MS_TOKEN=${MS_TOKEN}
      - SAFIRA_CK=${SAFIRA_CK}
      - SAFIRA_CS=${SAFIRA_CS}
      - SAFIRA_HOST=${SAFIRA_HOST}
      - DATABASE_URL=postgres://postgres:postgres@database:5432/friday_api
    build:
      context: .
      target: runtime
    depends_on:
      database:
        condition: service_healthy
  database:
    image: postgres:latest
    restart: always
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=friday_api
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  db-data:
